*.swp
.swp
*.DS_Store
.DS_Store
._*
*~
test_calc_RING/*
!test_calc_RING/run_ml_Nmode.cmd
!test_calc_RING/TD_D0_parameters.m
test_calc_FP/*
!test_calc_FP/run_ml_Nmode.cmd
!test_calc_FP/TD_D0_parameters.m
test_calc_UCF/*
!test_calc_UCF/run_ml_Nmode.cmd
!test_calc_UCF/TD_D0_parameters.m
num_1/
num_2/
modules/core/boost/
modules/TDSSolvers/num_1/
modules/TDSSolvers/num_2/
modules/core/num_1/
modules/core/num_2/
*.mat
for_bash
